<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "BACK",articles_path %>
<p>
	<%= link_to "DELETE",article_path(@article),method: :delete,data: {confirm: "Really delete the article?"} %>	
</p>

<%= link_to "EDIT", edit_article_path(@article) %>
